.abilityHeader p {
	font-size: 1.25em;
}
.abilityScores p {
	text-align: center;
}
.abilityScores {
	max-width: 650px;
}
.skillHeader {
	max-width: 650px;
}
.skillScores {
	max-width: 650px;
}
.abilityPointHeader {
	max-width: 650px;
}
.scoreSpacer {
	min-width: 20px;
	display: inline-block;
	text-align: center;
}
.downSkill {
	border-radius: ;
}