<!DOCTYPE html>
<html>
	<head>
		<title>Kingmaker Character Generator</title>
	</head>
<body>
	<h1>CharGen</h1>

	<hr />
	{% for character in characters %}
	<p>Name:{{character.name}}</p>
	<p>UNSPENT POINTS: {{character.ability_points}}</p>
	<p><button>Add</button>Strength:{{character.strength}}<button>Remove</button></p>
	<p>Dexterity:{{character.dexterity}}</p>
	<p>Constitution:{{character.constitution}}</p>
	<p>Intelligence:{{character.intelligence}}</p>
	<p>Wisdom:{{character.wisdom}}</p>
	<p>Charisma:{{character.charisma}}</p>
	{% endfor %}
	<hr />
	<footer>footer</footer>
</body>
</html>