{% extends 'base.html' %}
{% block content%}
	<form method="POST" id="character_form">
		{% csrf_token %}
		Build Name:<input type='text' name='name'><br>
		Race:
		<select name='race' size='9'>
			<option value="4">Aasimar</option>
			<option value="3">Dwarf</option>
			<option value="5">Elf</option>
			<option value="6">Gnome</option>
			<option value="9">Halfling</option>
			<option value="7">Half-Elf</option>
			<option value="8">Half-Orc</option>
			<option value="10">Human</option>
			<option value="11">Tiefling</option>
		</select>
		Character Class:
		<select name='characterclass' size='17'>
			<option value="1">Alchemist</option>
			<option value="2">Barbarian</option>
			<option value="3">Bard</option>
			<option value="4">Cleric</option>
			<option value="5">Druid</option>
			<option value="6">Fighter</option>
			<option value="7">Inquisitor</option>
			<option value="19">Kineticist</option>
			<option value="8">Magus</option>
			<option value="9">Paladin</option>
			<option value="10">Ranger</option>
			<option value="11">Rogue</option>
			<option value="12">Sorcerer</option>
			<option value="13">Wizard</option>
			<option value="14">Arcane Trickster</option>
			<option value="15">Dragon Disciple</option>
			<option value="16">Eldritch Knight</option>
			<option value="17">Mystic Theurge</option>
			<option value="18">Stalwart Defender</option>
		</select>
		<input type='submit'>
	</form>
	<hr />
{% endblock %}