{% extends 'base.html' %}
{% block content %}
<div class='row'>
	<div class='col-4'>
		<!-- <p>ID: {{character.id}}</p> -->
		<p>Build Name: {{character.name}}</p>
		<p>Race: {{character.race}}</p>
		{% if character.skilled %}
		<span style='display:none;'id='isSkilled'>{{character.skilled}}</span>
		<p>Skilled: +1 Skill Point Per Level</p>
		{% endif %}
		<p>Class: {{character.characterclass}}</p>
	</div>
	<div class='abilityScores col-8'>
		<div class='row'>
			<p class='col-12 text-center'>Ability Points: <span id='abilityPoints'>{{character.ability_points}}</span></p>
		</div>
		<div class='abilityHeader row'>
			<p class='col-3'>Attribute</p>
			<p class='col-2'>Bonus</p>
			<p class='col-5'>Total</p>
			<p class='col-2'>Modifier</p>
		</div>
		<div class='strength row'>
			<p class='col-3'>STR</p>
			<p class='col-2' id='strengthBonus'>{{character.race.strength_bonus}}</p>
			<p style='display:none;'><span id='strength'>{{character.strength}}</span></p>
			<p class='col-5'>
				<button class='down ayo'>-</button>
				<span id='strengthTotal' class='scoreSpacer'></span>
				<button class='up ayo'>+</button>
			</p>
			<p class='col-2'><span id='strengthModifier'></span></p>
		</div>
		<div class='dexterity row'>
			<p class='col-3'>DEX</p>
			<p class='col-2' id='dexterityBonus'>{{character.race.dexterity_bonus}}</p>
			<p style='display:none;'><span id='dexterity'>{{character.dexterity}}</span></p>
			<p class='col-5'>
				<button class='down ayo'>-</button>
				<span id='dexterityTotal' class='scoreSpacer'></span>
				<button class='up ayo'>+</button>
			</p>
			<p class='col-2'><span id='dexterityModifier'></span></p>
		</div>
		<div class='constitution row'>
			<p class='col-3'>CON</p>
			<p class='col-2' id='constitutionBonus'>{{character.race.constitution_bonus}}</p>
			<p style='display:none;'><span id='constitution'>{{character.constitution}}</span></p>
			<p class='col-5'>
				<button class='down ayo'>-</button>
				<span id='constitutionTotal' class='scoreSpacer'></span>
				<button class='up ayo'>+</button>
			</p>
			<p class='col-2'><span id='constitutionModifier'></span></p>
		</div>
		<div class='intelligence row'>
			<p class='col-3'>INT</p>
			<p class='col-2' id='intelligenceBonus'>{{character.race.intelligence_bonus}}</p>
			<p style='display:none;'><span id='intelligence'>{{character.intelligence}}</span></p>
			<p class='col-5'>
				<button class='down ayo'>-</button>
				<span id='intelligenceTotal' class='scoreSpacer'></span>
				<button class='up ayo'>+</button>
			</p>
			<p class='col-2'><span id='intelligenceModifier'></span></p>
		</div>
		<div class='wisdom row'>
			<p class='col-3'>WIS</p>
			<p class='col-2' id='wisdomBonus'>{{character.race.wisdom_bonus}}</p>
			<p style='display:none;'><span id='wisdom'>{{character.wisdom}}</span></p>
			<p class='col-5'>
				<button class='down ayo'>-</button>
				<span id='wisdomTotal' class='scoreSpacer'></span>
				<button class='up ayo'>+</button>
			</p>
			<p class='col-2'><span id='wisdomModifier'></span></p>
		</div>
		<div class='charisma row'>
			<p class='col-3'>CHA</p>
			<p class='col-2' id='charismaBonus'>{{character.race.charisma_bonus}}</p>
			<p style='display:none;'><span id='charisma'>{{character.charisma}}</span></p>
			<p class='col-5'>
				<button class='down ayo'>-</button>
				<span id='charismaTotal' class='scoreSpacer'></span>
				<button class='up ayo'>+</button>
			</p>
			<p class='col-2'><span id='charismaModifier'></span></p>
		</div>
	</div>
</div>
<hr />
<div class='row'>
	<div class='col-4'>
	</div>
	<div class='col-8 skillScores'>
		<div class='row'>
			<div class='col-12 text-center skillHeader'>
				<span style='display:none;' id='skillPointsPerLevel'>{{character.characterclass.skills_per_level}}</span>
				<p>Skill Points: <span id='skillPoints'></span></p>
			</div>
		</div>
		<div class='row'>
			<p class='col-4'>Athletics:</p>
			<div class='col-2'>
				<button class='downSkill'>-</button>
				<span class='scoreSpacer'id='athletics'>{{character.athletics}}</span>
				<button class='upSkill'>+</button>
			</div>
			
			<p class='col-4'>Lore Nature:</p>
			<div class='col-2'>
				<button class='downSkill'>-</button>
				<span class='scoreSpacer' id='loreNature'>{{character.lore_nature}}</span>
				<button class='upSkill'>+</button>
			</div>
		</div>
		<div class='row'>
			<p class='col-4'>Mobility:</p>
			<div class='col-2'>
				<button class='downSkill'>-</button>
				<span class='scoreSpacer' id='mobility'>{{character.mobility}}</span>
				<button class='upSkill'>+</button>
			</div>
			<p class='col-4'>Lore Religion:</p>
			<div class='col-2'>
				<button class='downSkill'>-</button>
				<span class='scoreSpacer' id='loreReligion'>{{character.lore_religion}}</span>
				<button class='upSkill'>+</button>
			</div>
		</div>
		<div class='row'>
			<p class='col-4'>Stealth:</p>
			<div class='col-2'>
				<button class='downSkill'>-</button>
				<span class='scoreSpacer' id='stealth'>{{character.stealth}}</span>
				<button class='upSkill'>+</button>
			</div>
			<p class='col-4'>Perception:</p>
			<div class='col-2'>
				<button class='downSkill'>-</button>
				<span class='scoreSpacer' id='perception'>{{character.perception}}</span>
				<button class='upSkill'>+</button>
			</div>
		</div>
		<div class='row'>
			<p class='col-4'>Trickery:</p>
			<div class='col-2'>
				<button class='downSkill'>-</button>
				<span class='scoreSpacer' id='trickery'>{{character.trickery}}</span>
				<button class='upSkill'>+</button>
			</div>
			<p class='col-4'>Persuasion:</p>
			<div class='col-2'>
				<button class='downSkill'>-</button>
				<span class='scoreSpacer' id='persuasion'>{{character.persuasion}}</span>
				<button class='upSkill'>+</button>
			</div>
		</div>
		<div class='row'>
			<p class='col-4'>Knowledge Arcana:</p>
			<div class='col-2'>
				<button class='downSkill'>-</button>
				<span class='scoreSpacer' id='knowledgeArcana'>{{character.knowledge_arcana}}</span>
				<button class='upSkill'>+</button>
			</div>
			<p class='col-4'>Use Magic Device:</p>
			<div class='col-2'>
				<button class='downSkill'>-</button>
				<span class='scoreSpacer' id='useMagicDevice'>{{character.use_magic_device}}</span>
				<button class='upSkill'>+</button>
			</div>
		</div>
		<div class='row'>
			<p class='col-4'>Knowledge World:</p>
			<div class='col-2'>
				<button class='downSkill'>-</button>
				<span class='scoreSpacer' id='knowledgeWorld'>{{character.knowledge_world}}</span>
				<button class='upSkill'>+</button>
			</div>
		</div>
	</div>
</div>

{% endblock %}