{% extends 'base.html' %}
{% block content %}
<div>
	<div class='characterInfo'>
		<p>ID: {{character.id}}</p>
		<p>Build Name: {{character.name}}</p>
		<p>Race: {{character.race}}</p>
		<p>Class: {{character.characterclass}}</p><br />
		<p>Unspent Ability Points: <span id='abilityPoints'>{{character.ability_points}}</span></p>
		<p>Unspent Skill Points: <span id='skillPoints'>VALUE</span></p>
	</div>
	<div class='abilityScores' style='display:inline-block;'>
		<div class='strength'>
			<button class='down'>-</button>
			<p>Strength:</p> <span id='strength'>{{character.strength}}</span>
			<button class='up'>+</button>
		</div>
		<div class='dexterity'>
			<button class='down'>-</button>
			<p>Dexterity: <span id='dexterity'>{{character.dexterity}}</span></p>
			<button class='up'>+</button>
		</div>
		<div class='constitution'>
			<button class='down'>-</button>
			<p>Constitution: <span id='constitution'>{{character.constitution}}</span></p><button class='up'>+</button>
		</div>
		<div class='intelligence'>
			<button class='down'>-</button>
			<p>Intelligence: <span id='intelligence'>{{character.intelligence}}</span></p><button class='up'>+</button>
		</div>
		<div class='wisdom'>
			<button class='down'>-</button>
			<p>Wisdom: <span id='wisdom'>{{character.wisdom}}</span></p>
			<button class='up'>+</button>
		</div>
		<div class='charisma'>
			<button class='down'>-</button>
			<p>Charisma: <span id='charisma'>{{character.charisma}}</span></p>
			<button class='up'>+</button>
		</div>
	</div>
	<div class='skillScores' style='display:inline-block;'>
		<div>
			<p>Athletics: <span id='athletics'>{{character.athletics}}</span></p>
		</div>
		<div>
			<p>Mobility: <span id='mobility'>{{character.mobility}}</span></p>
		</div>
		<div>
			<p>Stealth: <span id='stealth'>{{character.stealth}}</span></p>
		</div>
		<div>
			<p>Trickery: <span id='trickery'>{{character.trickery}}</span></p>
		</div>
		<div>
			<p>Knowledge: Arcana: <span id='knowledgeArcana'>{{character.knowledge_arcana}}</span></p>
		</div>
		<div>
			<p>Knowledge: World: <span id='knowledgeWorld'>{{character.knowledge_world}}</span></p>
		</div>
		<div>
			<p>Lore: Nature: <span id='loreNature'>{{character.lore_nature}}</span></p>
		</div>
		<div>
			<p>Lore: Religion: <span id='loreReligion'>{{character.lore_religion}}</span></p>
		</div>
		<div>
			<p>Perception: <span id='perception'>{{character.perception}}</span></p>
		</div>
		<div>
			<p>Persuasion: <span id='persuasion'>{{character.persuasion}}</span></p>
		</div>
		<div>
			<p>Use Magic Device: <span id='useMagicDevice'>{{character.use_magic_device}}</span></p>
		</div>
	</div>
	<hr />
</div>

{% endblock %}